<!-- <div class="row">
  <div class="form-group " show-errors>
      <input type="text" id="price" name="price" class="form-control " ng-model="vm.user.price" placeholder="price" >

    </div>
    <div class="form-group " show-errors>
          <input type="text" id="id" name="id" class="form-control " ng-model="vm.user.id" placeholder="Name" >

        </div>
        <div ng-show="!vm.user.fileSelected" class=" form-group">
          <button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
        </div>
        <div ng-show="vm.user.fileSelected" class=" form-group">
          <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button>
          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
        </div>
</div> -->
<form ng-app="shoppingCart" ng-controller="ContactCtrl">
  Item name:<br><input type="text" name="itemName" ng-change="showProd()" class="form-control"  ng-model="product.name" placeholder="Item Name"><br>
  Price:<br><input type="text" name="price" ng-change="showProd()" class="form-control" ng-model="product.price" placeholder="price"><br>
<!-- <button ng-click="save($scope.save)">Upload</button> -->
  <!-- <input type="file" ng-model="file"/> -->
  <div class=" form-group">
    <button class="btn btn-default btn-file" ngf-select="(vm.file = true) && (vm.loading = false)" ng-model="file" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
  </div>
  <button ng-click="upload(file)">Upload Picture</button>
  <!-- <li ng-repeat="file in files">{{file.name}}</li> -->

</form>
